.fishList {
    flex-basis: 65%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20pt;
    margin-left: 20pt;
    justify-content: center;
    
}

.fish {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    
}


.fish__image {
    width: 200px;
    height: 200px;
}

