.quotesList {
    flex-basis: 65%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 30rem;      
}

.quote {
    margin-left: 1rem;
}

.quotesList__Header {
    margin-left: 1rem;
    


}